{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>ERP • KLS VPP</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fa-solid fa-school"></i> ERP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portal">Portals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container marketing">
            <!-- 2 columns of text below the navbar -->
            <div class="row" id="portal">
                <div class="col-lg-4 card card-body me-2">
                    <h2><i class="fa-solid fa-person-chalkboard"></i>
                        Teacher's Portal</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p>
                        <a class="btn btn-primary rounded-pill" href="{% url 'staff-home' %}">Visit &raquo;</a>
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 card card-body">
                    <h2><i class="fa-solid fa-graduation-cap"></i> Student's Portal</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
                    </p>
                    <p>
                        <a class="btn btn-primary rounded-pill" href="{% url 'student-home' %}">Visit &raquo;</a>
                    </p>
                </div>
                <!-- START THE FEATURETTES -->
                <hr class="featurette-divider" id="about" />
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">
                            KLS’ Shri Vasantrao Potdar Polytechnic<br />
                            <span class="text-muted">Our motto</span>
                        </h2>
                        <p class="lead">
                            Where Skill sets and knowledge meets aspirations.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="https://i.imgur.com/YKJkVoZ.jpg" alt="KLS VPP's Logo" width="300" height="300" />
                    </div>
                </div>
                <hr class="featurette-divider" />
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">
                            Chairman’s Message<br />
                            <span class="text-muted">Shri. U.N.Kalkundrikar</span>
                        </h2>
                        <p class="lead">
                            At VPP our quest for excellence continues through various
                            initiatives that will help our students place themselves on a
                            career path, that does justice to their capacities and motivation.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="#" alt="Chairman’s image" />
                    </div>
                </div>
                <hr class="featurette-divider" />
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">
                            Principal’s Message<br />
                            <span class="text-muted">Smt. Shridevi S. Malaj</span>
                        </h2>
                        <p class="lead">
                            It is the vision of KLS Vasantrao Potdar Polytechnic, that
                            students be engaged in a stimulating academic environment and a
                            challenging curriculum that is student-centered and focused on
                            inquiry-based learning.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="" alt="Principal’s image" width="350" height="300" />
                    </div>
                </div>
                <hr class="featurette-divider" />
                <!-- /END THE FEATURETTES -->
            </div>
            <!-- /.container -->
            <!-- FOOTER -->
            <footer class="container">
                <p class="float-end"><a href="#">Back to top</a></p>
                <p>&copy; KLS VPP</p>
            </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- font awesome kit -->
    <script src="https://kit.fontawesome.com/bc60bcb3fa.js" crossorigin="anonymous"></script>
</body>

</html>