{% extends 'staff/base.html' %} {% block title %}Student Details {% endblock %}
{% block content %}
<h1>Sem-5 Students Details:</h1>
<table class="table table-bordered table-striped text-center" id="students">
  <thead class="table-dark">
    <tr>
      <th>Roll Number</th>
      <th>Register Number</th>
      <th>Name</th>
      <th>Contact No</th>
      <th>Email</th>
      <th>Class Details</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {% for x in stds %}
    <tr>
      <td>{{x.roll_no }}</td>
      <td>{{x.ern }}</td>
      <td>{{x.name }}</td>
      <td>{{x.contact_no }}</td>
      <td>{{x.email }}</td>
      <td>{{x.class_details }}</td>
      <td>
        <a
          href="{% url 'update5' x.id %}"
          class="btn btn-outline-primary rounded-pill"
          title="Update"
        >
          <i class="bi bi-pencil-fill"></i>
        </a>

        <a
          href="{% url 'del5' x.id %}"
          class="btn btn-outline-danger rounded-pill"
          title="Delete"
        >
          <i class="bi bi-trash-fill"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% if user.is_superuser %}
  <!-- delete all modal trigger -->
  <caption>
    <!-- Button trigger modal -->
    <button
      class="ms-1 btn btn-sm btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#sem5DeleteModal"
    >
      Delete all
    </button>
  </caption>
  <!-- end -->
  {% endif %}
</table>

<!-- Modal -->
<div class="modal fade" id="sem5DeleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Remove Results</h5> -->
        <h5 class="modal-title">
          Do you really want to delete all student records?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <a href="{% url 'sem5-delete' %}" type="button" class="btn btn-danger"
          >Yes</a
        >
      </div>
    </div>
  </div>
</div>
<!-- end -->
{% endblock %}
