<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <!-- DataTable CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP • {% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><i class="fa-solid fa-school"></i> ERP</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'staff-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'time_table' %}">Timetable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'attendance' %}">Attendance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view-feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ia-upload' %}">IA Marks</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Results
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'even-display' %}"
                    >View even semester results</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'odd-display' %}"
                    >View odd semester results</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'result-odd' %}"
                    >Upload odd semester results</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'result-even' %}"
                    >Upload even semester results</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Students
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'students-home' %}"
                    >View Student Details</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'upload-home' %}"
                    >Upload Student Details</a
                  >
                </li>
              </ul>
            </li>
            <!-- <li class="nav-item form-switch mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="lightSwitch"
              />
            </li> -->
          </ul>
          {% endif %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- messages -->
    {% if messages %} {% for msg in messages %}
    <div class="container mt-2 alert {{ msg.tags }}" id="msg" role="alert">
      <div>
        <i class="bi bi-caret-right-fill"></i>
        {{ msg }}
      </div>
    </div>
    {% endfor %} {% endif %}
    <!-- end messages -->
    <!-- main content -->
    <main>
      <div class="container mt-2">{% block content %} {% endblock %}</div>
    </main>
    <!-- ./end -->

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- user and datatable scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
    ></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
      // function to sort the 5th column (day column) of timetable in ascending order
      $(document).ready(function () {
        $("#tt").DataTable({
          order: [[4, "asc"]],
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#students").DataTable();
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#feedback").DataTable();
      });
    </script>
    <script>
      setTimeout(function () {
        $("#msg").remove();
      }, 5000);
    </script>
    <!-- ./end -->
    <!-- font awesome kit -->
    <script
      src="https://kit.fontawesome.com/bc60bcb3fa.js"
      crossorigin="anonymous"
    ></script>

    <!-- <script>
      /**
       *  Light Switch @version v0.1.3
       */

      (function () {
        let lightSwitch = document.getElementById("lightSwitch");
        if (!lightSwitch) {
          return;
        }

        /**
         * @function darkmode
         * @summary: changes the theme to 'dark mode' and save settings to local stroage.
         * Basically, replaces/toggles every CSS class that has '-light' class with '-dark'
         */
        function darkMode() {
          document.querySelectorAll(".bg-light").forEach((element) => {
            element.className = element.className.replace(/-light/g, "-dark");
          });

          document.body.classList.add("bg-dark");

          if (document.body.classList.contains("text-dark")) {
            document.body.classList.replace("text-dark", "text-light");
          } else {
            document.body.classList.add("text-light");
          }

          // set light switch input to true
          if (!lightSwitch.checked) {
            lightSwitch.checked = true;
          }
          localStorage.setItem("lightSwitch", "dark");
        }

        /**
         * @function lightmode
         * @summary: changes the theme to 'light mode' and save settings to local stroage.
         */
        function lightMode() {
          document.querySelectorAll(".bg-dark").forEach((element) => {
            element.className = element.className.replace(/-dark/g, "-light");
          });

          document.body.classList.add("bg-light");

          if (document.body.classList.contains("text-light")) {
            document.body.classList.replace("text-light", "text-dark");
          } else {
            document.body.classList.add("text-dark");
          }

          if (lightSwitch.checked) {
            lightSwitch.checked = false;
          }
          localStorage.setItem("lightSwitch", "light");
        }

        /**
         * @function onToggleMode
         * @summary: the event handler attached to the switch. calling @darkMode or @lightMode depending on the checked state.
         */
        function onToggleMode() {
          if (lightSwitch.checked) {
            darkMode();
          } else {
            lightMode();
          }
        }

        /**
         * @function getSystemDefaultTheme
         * @summary: get system default theme by media query
         */
        function getSystemDefaultTheme() {
          const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");
          if (darkThemeMq.matches) {
            return "dark";
          }
          return "light";
        }

        function setup() {
          var settings = localStorage.getItem("lightSwitch");
          if (settings == null) {
            settings = getSystemDefaultTheme();
          }

          if (settings == "dark") {
            lightSwitch.checked = true;
          }

          lightSwitch.addEventListener("change", onToggleMode);
          onToggleMode();
        }

        setup();
      })();
    </script> -->
  </body>
</html>
