{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} " />

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-dataTable.css' %} " />

    <link
      rel="stylesheet"
      href="{% static 'css/dataTables.bootstrap5.min.css' %} "
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP • {% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><i class="fa-solid fa-school"></i> ERP</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'staff-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'time_table' %}">Timetable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'attendance' %}">Attendance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view-feedback' %}">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ia-upload' %}">IA Marks</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Results
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'even-display' %}"
                    >View even semester results</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'odd-display' %}"
                    >View odd semester results</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'result-odd' %}"
                    >Upload odd semester results</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'result-even' %}"
                    >Upload even semester results</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Students
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'students-home' %}"
                    >View Student Details</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'upload-home' %}"
                    >Upload Student Details</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          {% endif %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link">{{ user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- messages -->
    {% if messages %} {% for msg in messages %}
    <div class="container mt-2 alert {{ msg.tags }}" id="msg" role="alert">
      <div>
        <i class="bi bi-caret-right-fill"></i>
        {{ msg }}
      </div>
    </div>
    {% endfor %} {% endif %}
    <!-- end messages -->
    <!-- main content -->
    <main>
      <div class="container mt-2">{% block content %} {% endblock %}</div>
    </main>
    <!-- ./end -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <!-- user and datatable scripts -->
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="{% static 'js/dataTable-min.js' %}"
    ></script>
    <script src="{% static 'js/dataTable-bootstrap5-min.js' %}"></script>
    <script>
      // function to sort the 5th column (day column) of timetable in ascending order
      $(document).ready(function () {
        $("#tt").DataTable({
          order: [[4, "asc"]],
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#students").DataTable();
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#feedback").DataTable();
      });
    </script>
    <script>
      setTimeout(function () {
        $("#msg").remove();
      }, 5000);
    </script>
    <!-- ./end -->
    <!-- font awesome kit -->
    <script src="{% static 'js/font-awesome.js' %}"></script>
  </body>
</html>
