{% extends 'staff/base.html' %} {% load crispy_forms_tags %}
{% block title %}Attendance{% endblock %} {% block content %}
<h1 class="text-center">Attendance</h1>
<hr>
<div class="row">
  <div class="col-sm-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Semester - 1</h5>
        <p class="card-text">Attendance for {% now "jS F" %}.</p>
        <a
          href="{% url 'attendance-sem1' %}"
          class="btn btn-primary rounded-pill"
          >Here &raquo;</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Semester - 2</h5>
        <p class="card-text">Attendance for {% now "jS F" %}.</p>
        <a
          href="{% url 'attendance-sem2' %}"
          class="btn btn-primary rounded-pill"
          >Here &raquo;</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Semester - 3</h5>
        <p class="card-text">Attendance for {% now "jS F" %}.</p>
        <a
          href="{% url 'attendance-sem3' %}"
          class="btn btn-primary rounded-pill"
          >Here &raquo;</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Semester - 4</h5>
        <p class="card-text">Attendance for {% now "jS F" %}.</p>
        <a
          href="{% url 'attendance-sem4' %}"
          class="btn btn-primary rounded-pill"
          >Here &raquo;</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Semester - 5</h5>
        <p class="card-text">Attendance for {% now "jS F" %}.</p>
        <a
          href="{% url 'attendance-sem5' %}"
          class="btn btn-primary rounded-pill"
          >Here &raquo;</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Semester - 6</h5>
        <p class="card-text">Attendance for {% now "jS F" %}.</p>
        <a
          href="{% url 'attendance-sem6' %}"
          class="btn btn-primary rounded-pill"
          >Here &raquo;</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
