{% extends 'staff/base.html' %} {% load crispy_forms_tags %} 
{% block title %}Sem-1 Attendance{% endblock %} {% block content %}
<h1>Semester 1 Attendance:</h1>

<form method="POST">
  {% csrf_token %}
  <div class="input-group mb-3">
    <label class="input-group-text" for="subject">Choose Subject</label>

    <select name="subject" class="form-select" id="subject">
      <option selected value="ENGINEERING MATHEMATICS">ENGINEERING MATHEMATICS</option>
      <option value="FUNDAMENTALS OF COMPUTER">FUNDAMENTALS OF COMPUTER</option>
      <option value="FUNDAMENTALS OF ELECTRICAL & ELECTRONICS ENGINEERING LAB">
        FUNDAMENTALS OF ELECTRICAL & ELECTRONICS ENGINEERING LAB
      </option>
      <option value="IT SKILLS LAB">IT SKILLS LAB</option>
      <option value="ENVIRONMENT SUSTAINABILITY">
        ENVIRONMENT SUSTAINABILITY
      </option>
    </select>
  </div>

  <table class="table table-bordered table-striped text-center">
    <thead class="table-dark">
      <th>Status</th>
      <th>Roll Number</th>
      <th>Name</th>
    </thead>
    <tbody>
      {% for i in s %}
      <tr>
        <td>
          <input
            type="checkbox"
            name="present"
            class="form-check-input"
            value="{{ i.roll_no }}"
          />
          <label for="roll" class="form-check-label">Present</label>
          <input
            type="checkbox"
            name="absent"
            class="form-check-input"
            value="{{ i.roll_no }}"
          />
          <label for="roll" class="form-check-label">Absent</label>
        </td>
        <td>{{ i.roll_no }}</td>
        <td>{{ i.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Save" class="btn btn-primary rounded-pill mb-3" />
</form>
{% endblock %}
