{% extends 'staff/base.html' %} {% load crispy_forms_tags %} 
{% block title %}Attendance{% endblock %} {% block content %}
<h1>Semester 5 Attendance:</h1>
<form method="POST">
  {% csrf_token %}
  <div class="input-group mb-3">
    <label class="input-group-text" for="subject">Choose Subject</label>

    <select name="subject" class="form-select" id="subject">
      <option selected value="Cloud Computing">Cloud Computing</option>
    </select>
  </div>

  <table class="table table-bordered table-striped text-center">
    <thead class="table-dark">
      <th>Status</th>
      <th>Roll Number</th>
      <th>Name</th>
    </thead>
    <tbody>
      {% for i in s %}
      <tr>
        <td>
          <input
            type="checkbox"
            name="present"
            class="form-check-input"
            value="{{ i.roll_no }}"
          />
          <label for="roll" class="form-check-label">Present</label>
          <input
            type="checkbox"
            name="absent"
            class="form-check-input"
            value="{{ i.roll_no }}"
          />
          <label for="roll" class="form-check-label">Absent</label>
        </td>
        <td>{{ i.roll_no }}</td>
        <td>{{ i.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Save" class="btn btn-primary rounded-pill" />
  <input type="reset" value="Reset" class="btn btn-danger rounded-pill" />
</form>

{% endblock %}
